- name: Get Kubectl Version
  uri:
    url: https://dl.k8s.io/release/stable.txt
    return_content: true
  register: kubectl_version

- name: Install kubectl
  get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_version.content | trim }}/bin/linux/amd64/kubectl"
    dest: /usr/local/bin/kubectl
    mode: '0755'
    owner: root
    group: root
  become: true
  when: kubectl_version is defined